.wrap {
    width: 100%;
}

.header, .form, .photos {
    width: 100%;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.imgWrapper {
    width: 24%;
    height: 18rem;
}