.wrap {
    position: relative; /* Позиціонування для лоадера */
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 90%;
    border-radius: 0.5rem;
    transition: opacity 0.3s ease; /* Плавна зміна видимості */
}

img.hidden {
    opacity: 0; /* Ховаємо зображення поки воно не завантажиться */
}

.loaderWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%; /* Той самий розмір, що й img */
    background-color: rgba(255, 255, 255, 0.8); /* Напівпрозоре тло */
    z-index: 1; /* Поверх зображення */
}

.button {
    width: 100%;
    padding: 0.1rem;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(0);
}
